* {
  /* This tell the browser that all the elements will shrink into the screen */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #42474b;
}

/* adding style on the header content*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #42474b;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* partially adding an additional colour on the logo*/
.header h1 .logo {
  color: #8ebeda;
}

/* adding style to the nav bar and specifying different ranges of font*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
}

.header nav ul {
  list-style-type: none;
}

/* This style the navigation list horizontally. */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #6f6d70;
}

p {
  font-size: 1.3rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
/* this positions the header image nicely center.*/
.header-img {
  display: flex;
  height: 400px;
  width: 100%;
  margin: 25px 0 25px 0;
  background-image: url("../images/header-img.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* this styles and positions the text on top of the image header */
.header-img p {
  font-size: 32px;
  color: rgb(243, 243, 235);
  background-color: #8ebeda;
  position: absolute;
  width: 40%;
  height: 150px;
  margin-left: 70%;
  margin-top: 200px;
  padding: 20px;
  opacity: 0.8;
}

/* this styles the main content of the page - it is styled with flex boxes divided in 3 sections */
.content {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  background-color: #6f6d70;
  color: #ffffff;
}

/* This styles the first section - two boxes created using flex*/
.section-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
}

/* this style the first box of the about section */
.box1-about {
  width: 20%;
  padding: 20px;
  border-right: 10px solid #8ebeda;
  height: 200px;
  text-align: right;
}

/*this style the second box of the about section . Flex is used inside to position the profile image and the text*/
.box2-about {
  display: flex;
  padding: 20px;
  width: 80%;
  line-height: 200%;
}
.box2-about img {
  align-items: flex-start;
  margin-right: 10px;
}

/* this styles the section that present the work usinf flex - two boxes created in row*/
.section-work {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 50px;
  height: auto;
}

/* This styles the box on the left of the section work*/
.box1-work {
  height: 100px;
  width: 20%;
  padding: 20px;
  border-right: 10px solid #8ebeda;
  height: 900px;
  text-align: right;
}

/* this styles the right section of work and flex is used to insert pictures in boxes */
.box2-work {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  height: 900px;
}

.container-0 {
  display: flex;
  flex: 1;
}
.container-0 a {
  display: flex;
  height: 300px;
  width: 100%;
}

/* This style the the top main image box  */
.image-main {
  width: 100%;
  margin: 0;
  border: 10px solid #8ebeda;
  position: relative;
  background-image: url("../images/code_refactor.jpg");
}

/*.image-main img {
  width: 100%;
}*/

/* This style and position the text on top of the image*/
.image-main h3 {
  position: absolute;
  margin-left: 0;
  margin-top: 100px;
  background-color: #8ebeda;
  width: 30%;
  height: 60px;
  text-align: center;
  padding: 10px;
}

/* this styles the two next images orizontally using flex */
.container-1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.image-small-1 {
  display: flex;
  height: auto;
  margin: 10px;
  border: 10px solid #8ebeda;
  position: relative;
}
.image-small-1 img {
  width: 100%;
}
/* This styles and positions the header text on top of the image */
.image-small-1 h3 {
  position: absolute;
  margin-left: 0;
  margin-top: 90px;
  background-color: #8ebeda;
  width: 40%;
  height: 50px;
  text-align: center;
  padding: 10px;
}

/* This styles the second row composed of two image boxes using flex*/
.container-2 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

/* This style the section contact of the page using flex boxes */
.section-contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
}

/*this styles the first box on the left */
.box1-contact {
  width: 20%;
  padding: 20px;
  border-right: 10px solid #8ebeda;
  height: auto;
  text-align: right;
}

/* This style the second flex box on the right */
.box2-contact {
  padding: 20px;
  width: 80%;
}

/* This style the unordered list element listed */
.box2-contact ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box2-contact ul li {
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #8ebeda;
  list-style: none;
  margin: 10px;
  padding: 5px;
  border-bottom: 10px solid #42474b;
}
.footer p {
  justify-content: center;
  margin-left: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
}

/* media query for smaller screens view - tablets or smartphones*/
@media screen and (max-width: 997px) {
  p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .header-img p {
    width: 80%;
    height: 150px;
    margin: 15% auto;
    line-height: 2rem;
  }
  .section-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 10px;
  }
  .box1-about {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
    height: 100px;
    text-align: center;
  }
  .box2-about {
    width: 100%;
    padding: 2px;
    height: 270px;
  }
  .box2-about img {
    margin-bottom: 80px;
    width: 40%;
  }
  /* media query - styling sextion work*/

  .section-work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
  }

  .box1-work {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
  }
  .box2-work {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: auto;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  .image-main h3 {
    margin-top: 0;
    width: 60%;
  }
  .image-small-1 h3 {
    margin-top: 0;
    width: 60%;
  }
  .image-small-2 h3 {
    margin-top: 0;
    width: 60%;
  }
  .image-small-3 h3 {
    margin-top: 0;
    width: 60%;
  }
  .image-small-4 h3 {
    margin-top: 0;
    width: 60%;
  }

  /* styling the contact section for small devices*/

  .section-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 10px;
  }
  .box1-contact {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
    height: 100px;
    text-align: center;
  }
  .box2-contact {
    width: 100%;
    padding: 2px;
    height: 270px;
  }
  .box2-contact ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box2-contact ul li {
    text-align: center;
    font-size: 24px;
    width: 80%;
    background-color: darkgoldenrod;
    list-style: none;
    margin: 10px;
    padding: 5px;
    border-bottom: 5px solid black;
  }
}
